# DB
DB_NAME=gearit
DB_USERNAME=gearit
DB_PASSWORD=gearit

# Mail sender
RESEND_TOKEN=
FROM=

# Yandex OAuth2
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

# CORS
CORS_ALLOWED_ORIGINS_URI=http://localhost:3000
